@model Clientes.Application.DTOs.ClienteDto

<h1>Excluir Cliente</h1>

<p>Deseja realmente excluir o cliente <strong>@Model.RazaoSocial</strong>?</p>

<form asp-action="Delete" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="CodigoCliente" />
    <button type="submit" class="btn btn-danger">Excluir</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Cancelar</a>
</form>
