@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo ao Cadastro de Clientes!!!</h1>

    <a asp-controller="Clientes"
       asp-action="Create"
       class="btn btn-success btn-lg mt-3">
        Cadastrar Novo Cliente
    </a>
</div>


